[submodule "contracts/evm/lib/forge-std"]
	path = contracts/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/evm/lib/openzeppelin-contracts"]
	path = contracts/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/evm/lib/safe-smart-account"]
	path = contracts/evm/lib/safe-smart-account
	url = https://github.com/safe-global/safe-smart-account
[submodule "contracts/evm/lib/account-abstraction"]
	path = contracts/evm/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
[submodule "contracts/evm/lib/evm-ml-dsa-verifier"]
	path = contracts/evm/lib/evm-ml-dsa-verifier
	url = https://github.com/fireblocks-labs/evm-ml-dsa-verifier
